.container-fluid{
    padding-left:0px !important;
    padding-right:0px !important;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.top_header{
    background-color: black;
    padding: 5px 90px 5px 65px;
}
.icon{
    height:20px;
    width: 20px;
    border-radius: 20px;}
.link{
    color: white;
    float: right;
    text-decoration: none;
}
.top_header a:hover{
    text-decoration: none;
    color: white;}
.menu{
    background-color: white;
   }

/* add media query */

.logo {
    padding: 20px 0px 25px 0px;
}
ul {
    padding: 20px 0px 20px 0px;
}
li {
    display: inline;
    float: inherit;
    padding: 0px 5px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
li a:hover {
    text-decoration: none;
    color: #0f0f0f;
}
li a {
    color: #0f0f0f;
}
.sign_btn {
    border-color: #5db442;
    border-radius: 12px;
    padding: 0px 20px 0px 20px;
    margin-left: 0px;
    background-color: transparent;
    color: #5db442;
    border: 2px solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.slider{
    background-color: #4ca368;
}
.slider_header_text{
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}
.slider_text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
}
.slider_image{
    width:40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}
.submit_txt{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 15px;
    margin-left: 95px;
    margin-top: 10px;
    border: 1px solid;
    border-color: #37804e;
    width: 40%;
}
.slider_input{
    /*display: flex;*/
}
.submit_btn{
    position:absolute;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid;
    background-color: #37804e;
    border-color: #37804e;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin-top: 10px;
    width: 20%;
}
.slider_footer_text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    color: white;
    margin-top: 1%;
}
.community_header_text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size:300%;
}
.community{
    background-color:#ececec;
}
.community_signup{
    background-color: white;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:        3px 3px 5px 6px #ccc;
}
.community_image{
    margin-top: 100%;
    margin-left: 20%;
}
.community_text{
    margin-top: 20%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5db442;
    font-size:30pt;
}
.community_text2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:20pt;
    margin-left: 5%;
    margin-bottom: 5%;
}
.community_edit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.community_edit_text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 5%;
    margin-bottom: 30%;
}
.service_package{

}
.service_header_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:300%;
    text-align:center;
    margin-top: 50px;
}
.service_edition_l{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-color: #0f0f0f;
    border: 1px solid;
    background-color:#5db442 ;
    text-align: center;
    padding: 5px 0px 0px 0px;
}
.service_edition_r{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #0f0f0f;
    border: 1px solid;
    text-align: center;
    padding: 5px 0px 0px 0px;
}
.innerTEXT{
    position:absolute;
    border-radius: 50%;
    background: #4ca368;
    z-index: 1;
    margin-left: 45%;
    color: white;
    padding: 2px 4px 2px 2px;
}
.service_basic{
    border: 1px solid #ececec;
    height: 50vh;
    margin: 20px 17.5px 15px 17.5px;
}
.line{
    border-bottom: 2px #ccc solid;
    margin: 90px 0 10px 0;
    z-index: -1;
}
.circle{
    height: 100%;
    width: 20%;
    text-align: center;
    vertical-align: text-top;
    border-radius: 50%;
    border: 1px solid #70bb58;
    background-color: white;
    margin: -60px 5px 5px 60px;
    padding-bottom: 30px;
    -webkit-box-shadow: 1px 1px 3px 3px #ececec;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #ececec;  /* Firefox 3.5 - 3.6 */
    box-shadow:        1px 1px 3px 3px #ececec;
}
.service_standard{
    border: 1px solid #ececec;
    height: 50vh;
    margin: 20px 17.5px 15px 17.5px;

}
.service_unlimited{
    border: 1px solid #ececec;
    height: 50vh;
    margin: 20px 17.55px 15px 17.5px;
}
.basic_btn{
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px 5px 25px;
}
.ser_txt{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.standard_btn{
    border-radius: 15px;
    background-color: #5db442;
    border: 1px solid;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px 5px 25px;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.text_1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.feature{
    background-color: #fafafa;
}
.feature_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 300%;
    margin-top: 30px;
}
.feat_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-bottom: 3px solid #ececec;
    padding-bottom: 10%;
}
.feat_text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 4%;
}
.sub_feat_text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #9b9b9b;
}
.sub_feature{
    height: 40vh;
    border: 0px solid white;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 15px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 3px 3px #d8d8d8;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 3px #d8d8d8;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 3px #d8d8d8;
}
.footer{
    background-color: #efefef;
    padding-top: 35px;
    padding-bottom: 20px;
}
.footer_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer_list{
    display: table-footer-group;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.end_footer{
    margin-top: 10px;
    border-top: 1px solid #c0c1c1;
    padding-top: 10px;
}
.foot_btn{
    position: absolute;
    background-color: #5db442;
    color: white;
    padding: 5px 10px 3px 15px;
}
.footer_inp{
    padding: 5px 10px 5px 10px;
}